* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* topbar */
.topbar {
  position: relative;
  top: 0;
  background: black;
  left: 0;
  z-index: 3;
  width: 100%;
  color: white;
  font-weight: 700;
  font-size: 17px;
  display: flex;
  -webkit-transition: margin-top 0.7s ease;
  transition: margin-top 0.7s ease;
  height: 88px;
}

.topbar__inner {
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  max-width: 1900px;
  margin: auto;
  width: 90%;
}

.topbar__helpcenter {
  display: inline-block;
  margin: 4px 0 0 0.8rem;
  vertical-align: middle;
  color: white;
  font-family: "GT America Standard";
  font-size: 24px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: -0.5px;
  padding: 2px 0 4px 0.8rem;
  border-left: 2px solid white;
  transition: all 0.3s;
  text-decoration: none;
  background: transparent;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.topbar__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-original-group: 3;
  -ms-flex-order: 2;
  order: 2;
}

@media (min-width: 768px) {
  .topbar__buttons {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: 33%;
  }
}

@media (min-width: 1200px) {
  .topbar__buttons {
    display: none;
  }
}

.btn.btn--topbar.btn--toggle-search {
}

.btn {
  padding: 6px 22px;
  font-size: 24px;
  line-height: 1.5;
  border-radius: 4px;
  display: inline-block;
  margin-bottom: 0;
  border: 1px solid transparent;
  background-image: none;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
  font-family: "GT America Standard", serif;
  font-weight: 400;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  /*text-transform: uppercase;*/
  border-radius: 8px;
}

.btn--topbar {
  position: relative;
}

.btn--toggle-search {
  border-color: transparent;
  color: white;
  padding-left: 0;
  padding-right: 0;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.fa-search:before {
  content: "\f002";
}

@media (min-width: 768px) {
  .container {
    padding-right: 30px;
    padding-left: 30px;
  }
}
